<!-- Add you custom twig html here -->
<div id="calendar-event-{{ nid }}" class="add-to-calendar-field">
    {{ send_email_link }}
    {{  googleAddCal }}
    <a class="close-cal-menu" download="calendar-event-download.ics" id="{{ nid }}" href="{{ icsAddCal }}">iCal</a>
    {{ yahooAddCal }}
</div>
